CedServicios/CedServiciosRN/Web References/ar.gov.afip.personaServiceA13/PersonaServiceA13.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://a13.soap.ws.server.puc.sr/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PersonaServiceA13" targetNamespace="http://a13.soap.ws.server.puc.sr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://a13.soap.ws.server.puc.sr/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="dummy" type="tns:dummy" />
      <xs:element name="dummyResponse" type="tns:dummyResponse" />
      <xs:element name="getIdPersonaListByDocumento" type="tns:getIdPersonaListByDocumento" />
      <xs:element name="getIdPersonaListByDocumentoResponse" type="tns:getIdPersonaListByDocumentoResponse" />
      <xs:element name="getPersona" type="tns:getPersona" />
      <xs:element name="getPersonaResponse" type="tns:getPersonaResponse" />
      <xs:complexType name="dummy">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="dummyResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:dummyReturn" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dummyReturn">
        <xs:sequence>
          <xs:element minOccurs="0" name="appserver" type="xs:string" />
          <xs:element minOccurs="0" name="authserver" type="xs:string" />
          <xs:element minOccurs="0" name="dbserver" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getIdPersonaListByDocumento">
        <xs:sequence>
          <xs:element name="token" type="xs:string" />
          <xs:element name="sign" type="xs:string" />
          <xs:element name="cuitRepresentada" type="xs:long" />
          <xs:element name="documento" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getIdPersonaListByDocumentoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="idPersonaListReturn" type="tns:idPersonaListReturn" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="idPersonaListReturn">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="idPersona" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="metadata" type="tns:metadata" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="metadata">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechaHora" type="xs:dateTime" />
          <xs:element minOccurs="0" name="servidor" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPersona">
        <xs:sequence>
          <xs:element name="token" type="xs:string" />
          <xs:element name="sign" type="xs:string" />
          <xs:element name="cuitRepresentada" type="xs:long" />
          <xs:element name="idPersona" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPersonaResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="personaReturn" type="tns:personaReturn" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="personaReturn">
        <xs:sequence>
          <xs:element minOccurs="0" name="metadata" type="tns:metadata" />
          <xs:element minOccurs="0" name="persona" type="tns:persona" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="apellido" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="claveInactivaAsociada" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="descripcionActividadPrincipal" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="domicilio" nillable="true" type="tns:domicilio" />
          <xs:element minOccurs="0" name="estadoClave" type="xs:string" />
          <xs:element minOccurs="0" name="fechaContratoSocial" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fechaFallecimiento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="formaJuridica" type="xs:string" />
          <xs:element minOccurs="0" name="idActividadPrincipal" type="xs:long" />
          <xs:element minOccurs="0" name="idPersona" type="xs:long" />
          <xs:element minOccurs="0" name="mesCierre" type="xs:int" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element minOccurs="0" name="numeroDocumento" type="xs:string" />
          <xs:element minOccurs="0" name="periodoActividadPrincipal" type="xs:int" />
          <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
          <xs:element minOccurs="0" name="tipoClave" type="xs:string" />
          <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
          <xs:element minOccurs="0" name="tipoPersona" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="domicilio">
        <xs:sequence>
          <xs:element minOccurs="0" name="calle" type="xs:string" />
          <xs:element minOccurs="0" name="codigoPostal" type="xs:string" />
          <xs:element minOccurs="0" name="datoAdicional" type="xs:string" />
          <xs:element minOccurs="0" name="descripcionProvincia" type="xs:string" />
          <xs:element minOccurs="0" name="direccion" type="xs:string" />
          <xs:element minOccurs="0" name="estadoDomicilio" type="xs:string" />
          <xs:element minOccurs="0" name="idProvincia" type="xs:int" />
          <xs:element minOccurs="0" name="localidad" type="xs:string" />
          <xs:element minOccurs="0" name="manzana" type="xs:string" />
          <xs:element minOccurs="0" name="numero" type="xs:int" />
          <xs:element minOccurs="0" name="oficinaDptoLocal" type="xs:string" />
          <xs:element minOccurs="0" name="piso" type="xs:string" />
          <xs:element minOccurs="0" name="sector" type="xs:string" />
          <xs:element minOccurs="0" name="tipoDatoAdicional" type="xs:string" />
          <xs:element minOccurs="0" name="tipoDomicilio" type="xs:string" />
          <xs:element minOccurs="0" name="torre" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SRValidationException" type="tns:SRValidationException" />
      <xs:complexType name="SRValidationException">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getPersona">
    <wsdl:part name="parameters" element="tns:getPersona" />
  </wsdl:message>
  <wsdl:message name="dummyResponse">
    <wsdl:part name="parameters" element="tns:dummyResponse" />
  </wsdl:message>
  <wsdl:message name="getIdPersonaListByDocumento">
    <wsdl:part name="parameters" element="tns:getIdPersonaListByDocumento" />
  </wsdl:message>
  <wsdl:message name="getPersonaResponse">
    <wsdl:part name="parameters" element="tns:getPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="dummy">
    <wsdl:part name="parameters" element="tns:dummy" />
  </wsdl:message>
  <wsdl:message name="SRValidationException">
    <wsdl:part name="SRValidationException" element="tns:SRValidationException" />
  </wsdl:message>
  <wsdl:message name="getIdPersonaListByDocumentoResponse">
    <wsdl:part name="parameters" element="tns:getIdPersonaListByDocumentoResponse" />
  </wsdl:message>
  <wsdl:portType name="PersonaServiceA13">
    <wsdl:operation name="dummy">
      <wsdl:input name="dummy" message="tns:dummy" />
      <wsdl:output name="dummyResponse" message="tns:dummyResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdPersonaListByDocumento">
      <wsdl:input name="getIdPersonaListByDocumento" message="tns:getIdPersonaListByDocumento" />
      <wsdl:output name="getIdPersonaListByDocumentoResponse" message="tns:getIdPersonaListByDocumentoResponse" />
      <wsdl:fault name="SRValidationException" message="tns:SRValidationException" />
    </wsdl:operation>
    <wsdl:operation name="getPersona">
      <wsdl:input name="getPersona" message="tns:getPersona" />
      <wsdl:output name="getPersonaResponse" message="tns:getPersonaResponse" />
      <wsdl:fault name="SRValidationException" message="tns:SRValidationException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonaServiceA13SoapBinding" type="tns:PersonaServiceA13">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dummy">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="dummy">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="dummyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdPersonaListByDocumento">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getIdPersonaListByDocumento">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getIdPersonaListByDocumentoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SRValidationException">
        <soap:fault use="literal" name="SRValidationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPersona">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getPersona">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPersonaResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SRValidationException">
        <soap:fault use="literal" name="SRValidationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonaServiceA13">
    <wsdl:port name="PersonaServiceA13Port" binding="tns:PersonaServiceA13SoapBinding">
      <soap:address location="https://awshomo.afip.gov.ar/sr-padron/webservices/personaServiceA13" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>